/*
1. Positioning. 
2. Box model. 
3. Typography
4. Visual effects
5. Others
*/
:root{
    /* Colors */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d4;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black:#282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;

    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100% );
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button{
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 12px 16px;
    color: var(--warm-black);
}
.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/vector-down.svg');
}
main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container__title h2{
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2.6rem;
    font-size: 2.4rem;
}
.main-exchange-container__title p{
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: #757575;
}
.main-tables-container{
    display: flex;
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table__title{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: start;
}
.currency-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;
}
.currency-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table__container .table--top-left{
    border-top-left-radius: 15px;
}
.currency-table__container .table--bottom-left{
    border-bottom-left-radius: 15px;
}
.currency-table__container .table--top-right{
    border-top-right-radius: 15px;
}
.currency-table__container .table--bottom-right{
    border-bottom-right-radius: 15px;
}
.currency-table__container .table--right{
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table__container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.currency-table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.currency-table__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table__date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
.commission-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.commission__title{
    width: 90%;
    text-align: start;
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--secondary-blue);
    font-family: 'DM Sans'
}
.commission-table__container{
    width: 80%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    gap: 1px;
    grid-template: repeat(4, 1fr) / 52% 48%;
}
.commission__item{
    font-weight: normal;
    line-height: 2rem;
    font-size: 1.6rem;
    padding: 10px 12px;
    text-align: start;
    background-color: var(--just-white);
    color: #b5b0ac;
}
.commision__item--top-left{
    border-top-left-radius: 8px;
}
.commision__item--top-right{
    border-top-right-radius: 8px;
}
.commision__item--bottom-left{
    border-bottom-left-radius: 8px;
}
.commision__item--bottom-right{
    border-bottom-right-radius: 8px;
}
.commission__price{
    text-align: center;
    color: #757575;
}
.commission__date{
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-blue);
    font-size: 12px;
    line-height: 15px;
    color: var(--warm-black);
}
.main__product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.main__product-detail .potatoe{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 24px;
    background-image: url('./assets/icons/batata-icon.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail__title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail__title p{
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}
/* .product-cards__container{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
} */
.product-detail__card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    padding: 15px;
    background-color: var(--black);
    margin: 15px auto;
    border-radius: 4px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.16);
}
.product-detail__card .clock{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/clock.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__card .eye{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/eye.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__card .dollar{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/dollar.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-detail__card .check{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/icons/check-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-card__title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card__body{
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}
.bitcoin__img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/images/bitcoin-baby.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin__img-container h2{
    padding-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main__plans-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 50px 10px;
}
.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.plans__title h2{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans__title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}
.plans__card-container{
    display: flex;
    height: 316px;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    /* &::-webkit-scrollbar{
        height: 5px;
        background-color: var(--off-white);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--bitcoin-orange);
        border-radius: 4px;
    } */
}
.plans__card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    margin: 0 5px 0;
    text-align: center;
}
.card__recommended{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 15px;
    color: var(--just-white);
}
.card__title{
    margin-bottom: 5px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black);
}
.card__price{
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: var(--black);
}
.card__price span{
    font-weight: 500;
    vertical-align: 25px;
    font-size: 1.2rem;
    line-height: 15px;
    color: #363636;
    margin-right: 4px;
}
.card__msg{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
}
.plans__card button{
    width: 150px;
    height: 48px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warm-black);
    border: 2px solid var(--bitcoin-orange);
    font-family: 'DM Sans', sans-serif;
    background-color: #faf8f7;
    border-radius: 4px;
    cursor: pointer;
}
.plans__card button .arrow-right{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('./assets/icons/arrow-right.svg');
    vertical-align: text-bottom;
}
footer{
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer section a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
    margin: 4px 0;
}
footer figure{
    width: 64px;
    height: 50px;
    margin: auto 0;
}
footer figure img{
    width: 100%;
}